
<div id="messages">

	<h2><%= current_user.nick %>s Nachrichten</h2>

	<table id="tableID">
		<tr>
		
			<th>
				From
			</th>
			<th>
				Betreff
			</th>
			<th>
				Datum
			</th>
		
		</tr>
		<% @m.each do |message| %>
		<tr>
				<td>
					<%= link_to (User.find message.from_id).nick, "/messages/#{message.id}" %>
				</td>
				<td>
					<%= message.betreff %>
				</td>
				<td>
					<%= message.created_at.strftime('%d.%m.%Y') %>
				</td>
		</tr>
		<% end %>
	</table>

</div>
