<div id="faq">

	<h2>Willkommen bei WaterCraft,</h2><br>
	dem ersten und einzigartigen Unterwasserkampf Browsergame im Netz.<br>
	<br>
	Sei dabei, wenn Fische sich gegenseite prügeln, weiterentwickeln und immer
	mächtiger werden.<br>
	<br>
	WaterCraft, <%= link_to "los gehts!", "/users/sign_up" %>

</div>
