<div id="faq">
	
	<h2>Informationen zu WaterCraft</h2>
	
	<div id="info">
		
		<p>

			WaterCraft ist ein Online-Browsergame, welches sich mit illegal
			Kämpfen	zwischen verschiedenen Wasserbewohnern befasst. Der User
			kann sein eigen	Fisch erstellen, diesen trainieren und gegen andere
			Fische anderer Spieler kämpfen lassen. Die Fische gewinnen bei jedem
			gewonnen Kampf an Erfahrung und steigen in verschiedenen Level auf,
			gewinnen an Kampfskills und werden Stärker.
		
		</p>
		
		<table>
			<tr>
				<td>
					<%= image_tag "Common/profile.png" %>
				</td>
				<td>
					<b>Profilansicht</b><br>
					Betrachte dein Profil, erkenne mögliche Schwächen deines
					Fisches und versuche an diesen zu arbeiten.<br>
					Vergleiche dich mit anderen Spielern und fordere sie heraus.
				</td>
			</tr>
			<tr>
				<td>
					<b>Wähle deinen Fisch</b><br>
					Wähle einen von 16 einzigartigen Fischen mit individueller
					Entwicklung. Setze Skillpoints um deinen Fisch noch
					einzigartiger zu machen als alle anderen.
				</td>
				<td>
					<%= image_tag "Common/FishSelection.png" %>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag "Common/pn.png" %>
				</td>
				<td>
					<b>Schreibe PNs mit anderen Usern</b><br>
					Schreibe mit anderen Usern, tausche Erfahrungen aus, erhalte
					Tipps und Tricks um noch besser zu werden oder haltet
					sonstige Gespräche.<br>
					<u><b>Jedoch</b>: Angemessenes Benehmen ist A und O.</u>
				</td>
			</tr>
			<tr>
				<td>
					<b>Ranking</b><br>
					Das Ranking-System zeigt dir alle User mit ihren Fischen an. Dabei
					kannst du nach Level oder auch der Erfahrung sortieren.<br>
					Gewinne die meisten Kämpfe, erklimme die Rangliste und besitze den
					stärksten Fisch in WaterCraft!
				</td>
				<td>
					<%= image_tag "Common/rankings.png" %>
				</td>
			</tr>
		</table>			
	
	</div>

</div>
