/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
	background-color:	blue;
	font-family:	Corbel, Centaur, Comic Sans, Verdana;
}

div#head {
	text-align: center;
}

div#menu {
	height: 3em;
	background-color: navy;
	color:	white;
	text-align: center;
	padding-top: 1.5em;
}

div#log {
	float:right;
	padding-right: 10px;
}

div#alert {
	padding: 0% 20% 0% 20%;
	border: solid black 3px;
	color: white;
	font-weight:bold;
	background-color: red;
}

div#content {
	margin-top: 20px;
	background-color: navy;
	color:	white;
	clear: both;
}

h1 {
	font-size:	3em;
}

a:visited {
	color: white;
}

a:link {
	color: white;
}
