<div id = "profile">

	<h2>Wähle deinen Fisch</h2>

	<div id = "Bilder" >
			<% @entries.each do |e| %>
	
				<div id = "element">
					<%= image_tag "#{e}", :height => 150, :id => "Bild" %><br>
					<% e["Fisch/"] = "" %>
					<% e[".jpg"] = "" %>
					<%= link_to getRaceName(e.to_i), "create", :method => :post %>
				</div>
			
			<% end %>
	</div>
</div>
